Django
psycopg2-binary

# Django REST framework (DRF)
djangorestframework

# CORS headers for enabling cross-origin requests
django-cors-headers

# JSON Web Tokens and authentication packages
PyJWT

# Simple JWT implementation for DRF
# (includes blacklist support via `rest_framework_simplejwt.token_blacklist`)
djangorestframework-simplejwt

# Environment variable management
python-dotenv
